- name: "Install available packages for desktop-only software"
  become: true
  ansible.builtin.apt:
    pkg:
      - "blueman"
      - "bluez"
      - "dolphin-emu-data"
      - "dolphin-emu"
      - "firefox"
      - "flatpak"
      - "mupen64plus-*"
      - "obs-studio"
      - "steam-devices"
      - "torbrowser-launcher"
      - "virt-manager"
      - "xfce4"
      - "xfce4-goodies"
    update_cache: true
    autoclean: true
    autoremove: true
    state: "present"

- name: "Add Debian repos"
  become: true
  loop: "{{ apt_repos_desktop }}"
  ansible.builtin.deb822_repository:
    name: "{{ item.name }}"
    types: "deb"
    uris: "{{ item.uri }}"
    suites: "{{ item.suite }}"
    components: "{{ item.component }}"
    signed_by: "{{ item.key_uri }}"

- name: "Install packages from new repos"
  become: true
  loop: "{{ apt_repos_desktop }}"
  ansible.builtin.apt:
    pkg: "{{ item.packages }}"
    update_cache: true
    autoclean: true
    autoremove: true
    clean: true

- name: "Check if RStudio is installed"
  ansible.builtin.stat:
    path: "/usr/bin/rstudio"
  register: rstudio_path

- name: "Install RStudio" # noqa: risky-shell-pipe
  become: true
  ansible.builtin.shell:
    cmd: |
      rstudio_dl_link="$(
      curl -fsSL 'https://posit.co/download/rstudio-desktop/' \
        | grep -E -o '"https.*amd64\.deb"' \
        | tail -n1 \
        | sed 's/"//g'
      )"
      curl -fsSL -o /tmp/rstudio.deb "${rstudio_dl_link}"
      apt-get install -y /tmp/rstudio.deb
    creates: "/usr/bin/rstudio"
  when: not rstudio_path.stat.exists

- name: "Make game ROMs directory"
  become: true
  become_user: "{{ user }}"
  ansible.builtin.file:
    path: "{{ homedir }}/GameROMs"
    mode: "0755"
    state: "directory"

- name: "Add Flathub backend for Flatpak"
  become: true
  become_user: "{{ user }}"
  community.general.flatpak_remote:
    name: "flathub"
    flatpakrepo_url: "https://dl.flathub.org/repo/flathub.flatpakrepo"
    method: "user"
    state: "present"

- name: "Install Steam"
  become: true
  become_user: "{{ user }}"
  community.general.flatpak:
    name:
      - "com.valvesoftware.Steam"
    remote: "flathub"
    method: "user"
    state: "latest"

# ERTM is a feature that, among other things, prevents XBox controllers from
# pairing over BT lol. So, disable it.
- name: "Change bluetooth settings for XBox controllers"
  become: true
  ansible.builtin.copy:
    content: "options bluetooth disable_ertm=1"
    dest: "/etc/modprobe.d/xbox_bt.conf"
    mode: "0644"
